.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.cardStyle{
  margin-top: -33px;
}

.blue-text{
  color: blue;
}

.vert-text{
  color: #ff5a5f;
}
.title {
  /* Your styles here */
  font-weight: bold;
  color: blue;
}


.red-asterisk {
  color: red;
}

.unread-contact {
  background-color: #e3dbff;
}

/* src/components/Wizard.css */
.bs-stepper-content{
  margin-top: 30px;
}
.bs-stepper .line{
  margin-left: -22px;
  margin-top: 25px;
}



.fa-plus-circle {
  font-size: 30px; /* Taille personnalisée si nécessaire */
  margin-top: 5px;
}

.condtitle{
  margin-top: 20px;
}


.react-tooltip {
  font-size: 12px;
  background-color: #333;
  color: #fff;
  border-radius: 4px;
  padding: 5px 10px;
}

.bg-light-cond{
  background-color: #754ffe;
}
.text-cond{
  color: white ;
}

.spacing {
  margin-bottom: 25px;
}








